/node_modules
/public/hot
/public/images/firms/
/public/images/users/
/public/storage
/storage/*.key
/resources/lang/en
/resources/lang/ru
/resources/lang/ee
/vendor
/tests/Browser/screenshots
.idea/*
/.idea/*
.idea
.php-docker-settings.xml
.pr2.xml
.pr2.iml
.env
.env.backup
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
README.md
